@use '../../styles/' as styles; 
@use '../../Animations';

.nav-container{
    position: relative;
    display: flex;
    border-bottom: solid 0.5px#5F4824;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
    padding: 40px;
    z-index: 10000;
    img{
        width: 110px;
        height: auto;
    }
    animation: fadeInText 1.5s forwards;

    .navlinks-wrapper {
        display: flex;
        align-items: center;
        gap: 9px;
        a, .dropdown-title {
            padding: 10px;
            border-radius: 20px;
            position: relative; 
            @include styles.paragraphText;
            font-size: 14px;
            text-decoration: none;
            transition: color 0.15s ease-in-out;
        
            &:hover, &.active {
                background-color: styles.$bgCream;
                cursor: pointer;
            }
        }
        button {
            align-self: flex-start;
            background-color: transparent;
            font-size: 14px;
            padding: 14px 10px;
            border-radius: 30px;
            border: solid #B78756;
            &:hover {
                color: styles.$bgColorLight;
                background-color: #B78756;
                cursor: pointer;
            }
        }
        .dropdown-menu {
            position: relative;
            .dropdown-arrow {
                width: 10px;
            }
            .dropdown-title {
                @include styles.paragraphText;
                font-size: 14px;
                cursor: pointer;
                &.active {
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }
            .dropdown-list {
                position: absolute;
                top: 95%;
                left: 0;
                background-color: styles.$bgCream;
                border-radius: 0 0 8px 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
                z-index: 9000;
                margin: 10px 0;
                #dropdown-item {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    text-decoration: none;
                    max-width: 100%;                   
                    object-fit: contain;
                    margin: 10px;
                    &:hover, &.active-sub {       
                        border: 1.5px solid styles.$darkIcon;
                        border-radius: 0px;
                        cursor: pointer;
                    }
          
                img {
                  max-width: 20px;
                  height: auto;
                }
              }
            }
          }
          
          
    }      
}