@use '../../styles/' as styles; 
@use '../../Animations';



.hero-wrapper{
    height: 100vh;
    padding: 80px 30px 110px;
    display: flex;
    justify-content: space-between;
    position: relative;
    animation: fadeInText 0.8s forwards;
    z-index: 2;
    h1 {
        @include styles.headerText;
        font-size: 75px;
        letter-spacing: 5px;
        text-align: center;
    }
    h3 {
        @include styles.paragraphBold;
        font-size: 20px;
        margin: 15px 0 25px;
    }
    .text-intro{
        justify-self: center;
        @include styles.paragraphText;
        font-size: 18px;
        width: 600px;
        line-height: 30px;

    }
    img {
        width: 400px;
    }
    .image-one {
        align-self: flex-start;
    }
    .image-two {
        align-self: flex-end;
    }
    .hero-text-wrapper{
        z-index: 10;
        width: 1000px;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        text-align: center;
        button {
            margin-top: 50px;
            width: 50%;
            background-color: transparent;
            font-size: 18px;
            padding: 14px 10px;
            border-radius: 30px;
            border: solid styles.$textColorDark;
            &:hover {
                color: styles.$bgColorLight;
                background-color: styles.$textColorDark;
                cursor: pointer;
            }
        }
    }
}