@use '../../styles/' as styles; 
@use '../../Animations';



.hero-wrapper{
    height: 100vh;
    padding: 80px 30px 110px;
    display: flex;
    justify-content: space-between;
    position: relative;
    animation: fadeInText 0.8s forwards;
    z-index: 2;
    h1 {
        @include styles.headerText;
        font-size: 75px;
        letter-spacing: 5px;
        text-align: center;
    }
    h3 {
        @include styles.paragraphBold;
        font-size: 20px;
        margin: 15px 0 25px;
    }
    .text-intro{
        justify-self: center;
        @include styles.paragraphText;
        font-size: 18px;
        width: 600px;
        line-height: 30px;

    }
    img {
        width: 400px;
    }
    .image-one {
        align-self: flex-start;
    }
    .image-two {
        align-self: flex-end;
    }
    .hero-text-wrapper {
        z-index: 10;
        width: 1000px;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        text-align: center;
    
        button {
            @include styles.styleButton(styles.$textColorDark, styles.$bgColorLight);
            position: relative; 
            width: 50%;
            margin: 50px auto 0;
            padding: 18px;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center; 
            
            img {
              position: absolute;
              right: 18px; 
              width: 30px;
              height: auto;
              object-fit: contain;
              display: block;
            }
        }          
    
        p {
            width: 50%;
            margin: 0 auto; 
        }
    }    
}