@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes carousel {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

@keyframes scroll {
  0% { 
    opacity: 0; 
    transform: translateX(15px); 
  }
  100% { 
    transform: translateX(0px); 
    opacity: 1;
  }
}