@use '../../styles/' as s;

.pitch-container {
    display: flex;
    flex-direction: column;
    border: solid 0.5px s.$bgColorDark;
    .pitch-content-wrapper {
        display: flex;
        justify-content: space-between;
        text-align: left;
        .pitch-content{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .icon-card-container h2{
                @include s.headerText;
                font-size: 30px;
                color: s.$textColorDark;
            }
            .icon-card {
                margin: 30px 0;
                display: flex;
                align-items: center;
                .card-content {
                    padding-left: 22px;
                    @include s.paragraphText;
                }
            }
            button {
                @include s.styleButton(s.$textColorDark, s.$bgColorLight);
                width: 40%;
                display: flex;
                align-self: center;
                justify-content: space-between;
                padding: 18px;
                font-size: 18px;
                img {
                    width: 30px;
                    height: auto;
                    object-fit: contain;
                    display: block;
                }
            }
        }
        .image-wrapper {
            min-height: 600px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .runner-text {
        background-color: s.$bgCream;
        text-align: center;
        padding: 50px 0;
        p {
            @include s.paragraphBold;
            font-size: 20px;
        }
    }
}