// Primary Colors
$bgColorLight: #EBEAE5;
$bgHoverLight: #B78756;
$textColorDark: #39312F;

// Secondary Colors
$bgBlue: #4D699C;
$textColorLight: #514C4B;
$bgCream: #DFD7C4;
$bgColorDark: #171717;
$darkIcon: #724731;