@font-face {
    font-family: Classical Premiera;
    src: url(./classicalpremiera-q2qqv.otf) format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./OTF/Satoshi-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url(./OTF/Satoshi-Light.otf) format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url(./OTF/Satoshi-Bold.otf) format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url(./OTF/Satoshi-Medium.otf) format('opentype');
    font-weight: 500;
    font-style: normal;
}

  
